*{
    margin: 0;
    padding: 0;
}

.cabecalho {

    background-color: #424e61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.escola-imagem{
    width: 20%;
}
.escola{
    background-image: linear-gradient(#424e61,#4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}


 .escola-div-conteudo{
    width: 35%;
    text-align: center;
 }
.escola-titulo{
    padding: 24px 0;
}
.escola-imagem{
    width: 25%;
    
}
.estudante-imagem{
    width: 5%;
    text-align: center;
}
.estudante-icone{
    width: 5%;
}
.rodape{
    background-color: black;
    text-align: center;
}
.rodape-imagem{
    height: 60px;
    padding: 12px 0;
 }

 .estudante-div{
    justify-content: center;
    align-items: center;
    display: flex;
 }

    